body {
    font-size: 15px;
    font-weight: normal;
    font-family: helvetica;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.7em;
}
h2 {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
}
/* span.p is used for last paragraph, otherwise layount is broken */
span.p {
    display: block;
    margin-bottom:1em;
}
:body {
    color-scheme: light dark;
    --special-text-color: hsla(60, 100%, 50%, 0.5);
    --border-color: black;
}
